:root {
  --background-color: white;
  --color-primary: #ff4d1b;
  --color-secondary: #ffe4dd;
  --color-focus: #025da9;
  --color-text: black;
  --color-border: #ff4d1b;
  --color-disabled: #5e6167;
  --border-radius: 0.25rem;
  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;
  --space-xl: 2rem;
  --space-2xl: 2.5rem;
  --space-3xl: 3rem;
  --ease-out-custom: cubic-bezier(0.38, 0.7, 0.125, 1);
}

a {
  color: var(--color-text);
  text-decoration: none;
}

a:hover {
  text-underline-offset: 3px;
  background-color: transparent;
}

a.no-underline:hover {
  text-decoration: none;
}

span,
p {
  line-height: 1.5;
}

hr {
  border-bottom-width: 0;
  border-top: 1px solid var(--color-border);
  margin: var(--space-md) 0;
  border-left: 0;
  border-right: 0;
}

html {
  background-color: var(--background-color);
  font-size: 1rem;
  font-family: Laksa, system-ui;
  color: var(--color-text);
  line-height: 1.38;
}

body {
  user-select: none;
  touch-action: pan-y;
  padding: 0;
  margin: 0;
}

.btn {
  position: relative;
  text-align: center;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-sm);
  padding: var(--space-sm);
  border: 0;
  text-decoration: none;
  line-height: 1;
  transition: background-color 0.5s;
  font-weight: 600;
  font-size: 16px;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.btn:disabled:hover {
  text-decoration: none;
  pointer-events: none;
}

.btn:disabled:not(.loading):not(.link) {
  background-color: var(--color-border);
  color: var(--color-disabled);
}

.btn:disabled.link:not(.loading) {
  color: var(--color-disabled);
}

.btn:disabled.link:not(.loading):hover {
  text-decoration: none;
  pointer-events: none;
}

.btn.loading {
  pointer-events: none;
}

.btn.link {
  background-color: transparent;
  border: transparent;
  color: var(--color-text);
  text-decoration: none;
}

.btn.link:hover {
  text-decoration: underline var(--color-primary) solid 2px;
  text-underline-offset: 3px;
  background-color: transparent;
}

.btn-primary {
  color: white;
  background-color: var(--color-primary);
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

p,
td,
dd,
span,
small {
  user-select: text;
}

.row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group {
  max-width: 400px;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

/* slide-in-right */
.slide-in-right-enter-from {
  opacity: 0;
  transform: translateX(64px);
}

/* slide-in-left */
.slide-in-left-enter-from {
  opacity: 0;
  transform: translateX(-64px);
}

.slide-in-right-enter-active,
.slide-in-left-enter-active {
  transition: transform 0.2s var(--ease-out-custom), opacity 0.2s var(--ease-out-custom);
}

.slide-in-right-enter-to,
.slide-in-left-enter-to {
  transform: translateX(0);
  opacity: 1;
}

.slide-in-right-leave-from,
.slide-in-left-leave-from {
  opacity: 1;
}

.slide-in-right-leave-active,
.slide-in-left-leave-active {
  transition: opacity 0.1s var(--ease-out-custom);
}

.slide-in-right-leave-to,
.slide-in-left-leave-to {
  opacity: 0;
}

/* zoom-in */
.zoom-in-enter-from {
  transform: scale(0.95);
  opacity: 0;
}

.zoom-in-enter-to {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.2s var(--ease-out-custom), opacity 0.2s var(--ease-out-custom);
}

/* fade */
.fade-leave-from,
.fade-enter-to {
  opacity: 1;
}

.fade-leave-active {
  transition: opacity 0.1s var(--ease-out-custom);
}

.fade-enter-active {
  transition: opacity 0.4s var(--ease-out-custom);
}

.fade-leave-to,
.fade-enter-from {
  opacity: 0;
}

.slide-in-bottom-enter-from {
  transform: translateY(100%);
}

.slide-in-bottom-enter-active {
  transition: transform 0.2s var(--ease-out-custom);
}

.slide-in-bottom-enter-to {
  transform: translateY(0);
}

.underblock {
  position: relative;
  z-index: 0;
  --color-underblock: var(--color-primary);
}

.underblock::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 1em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-underblock);
}

.slide-down-enter-from,
.slide-down-leave-to {
  opacity: 0;
  transform: translateY(calc(-100% - var(--space-md)));
  transition: transform 0.5s var(--ease-out-custom), opacity 0.6s var(--ease-out-custom);
}

.slide-down-leave-from,
.slide-down-enter-to {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.5s var(--ease-out-custom), opacity 0.1s var(--ease-out-custom);
}

input,
select {
  max-width: 400px;
  padding: var(--space-sm);
  border-radius: var(--border-radius);
  border: transparent;
  background-color: #e2eaea;
  color: var(--color-text);
  width: calc(100% - 20px);
  font-size: 1rem;
}

input:focus,
select:focus {
  border: 2px solid var(--color-primary);
  outline: var(--color-primary);
}

input option,
select option {
  color: black;
}

.post {
  position: absolute;
  left: 92%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--space-md);
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-lg);
  padding: var(--space-2xl);
}

.actions .btn span {
  position: relative;
}

.actions .btn span .disabled {
  color: var(--color-disabled);
}

.actions .btn span i {
  color: var(--color-primary);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translate(-50%);
}

.actions .btn span b {
  margin-top: var(--space-sm);
}

a {
  cursor: pointer;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 14px;
}
